* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    color: #dedcd7;
    height: 100%;
    overflow: hidden;
    background: #242321;
    min-height: 100vh;
    position: relative;
    z-index: 0;

}
/*HEADER*/
header {
    height: 70vh;
    width: 100vw;
    background-image: url(./images/montaña.jpg);
    
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main-title {
    display: flex;
    justify-items: center;

    justify-content: center;
    padding-top: 150px;
    flex-direction: column; /* flex colum para posicionar en columna */
    
}
.main-title h1{
 font-size: 60px;

}
.social ul{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
}
.social ul a i{
    font-size:x-large;
    color: #dedcd7;
}
.social ul a i:hover{
    color: #fff;
}
/*HEADER*/

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.footer-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
/*FOOTER*/

.lista-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .lista-item {
    float: left;
  }
  
  .lista-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    
  }
  
  .lista-item a:hover {
    background-color: #111;
  }

.about{

    height: 100vh;

}
.skills{
    height: 100vh;
    
}







